sounds/560085__vartian__rolling-single-and-dual-20-sided-dice_trimmed_0.4.wav
sounds/560085__vartian__rolling-single-and-dual-20-sided-dice_trimmed_0.5.wav
sounds/560085__vartian__rolling-single-and-dual-20-sided-dice_trimmed_0.6.wav
sounds/560085__vartian__rolling-single-and-dual-20-sided-dice_trimmed_0.7.wav
sounds/560085__vartian__rolling-single-and-dual-20-sided-dice_trimmed_0.8.wav
sounds/560085__vartian__rolling-single-and-dual-20-sided-dice_trimmed_0.9.wav
sounds/560085__vartian__rolling-single-and-dual-20-sided-dice_trimmed_1.0.wav
